source ~/.vimrc

set surround

" install KJump
nmap ss :action KJumpAction.Word0<CR>

"enable nerdtree
set NERDTree
map <C-e> :NERDTreeToggle<CR>
set matchpairs-={:}

" Code formatting and navigation
map <leader>fm :action ReformatCode<CR>
map <leader>ff :action GotoFile<CR>
map <leader>fc :action GotoClass<CR>
map <leader>lg :action FindInPath<CR>


nmap <leader>ca :action Generate<CR>

" Reference Search
map gr :action FindUsages<CR>
map gd :action GotoDeclaration<CR>

"QuickDefinition legacy stuff
map gD :action QuickImplementations<CR>
nnoremap gi :action GotoImplementation<CR>

" set commentary
map gc :action CommentByLineComment<CR>
map gb :action CommentByBlockComment<CR>

" View Problems
map <leader>dd :action ShowErrorsInProject<CR>
" View Problems and Focus Editor
map <leader>dl :action ShowErrorsInProject<CR>

" Quick Fix
map <leader>F :action ShowIntentionActions<CR>

"Marker
map ]d :action GotoNextError<CR>
map [d :action GotoPreviousError<CR>

" Fold
:set foldenable

