source ~/.vimrc

set surround

" Remap 's' in normal mode to trigger AceJump
nmap ss :action AceWordAction<CR>
nmap S :action AceLineAction<CR>


"enable nerdtree
set NERDTree
map <C-e> :NERDTreeToggle<CR>
set matchpairs-={:}

" Code formatting and navigation
map <leader>fm :action ReformatCode<CR>
map <leader>ff :action GotoFile<CR>
map <leader>fc :action GotoClass<CR>
map <leader>lg :action FindInPath<CR>


nmap <leader>ca :action Generate<CR>

" Reference Search
map gr :action FindUsages<CR>
map gd :action GotoDeclaration<CR>

"QuickDefinition legacy stuff
map gD :action QuickImplementations<CR>
nnoremap gi :action GotoImplementation<CR>

" set commentary
map gc :action CommentByLineComment<CR>
map gbc :action CommentByBlockComment<CR>

" View Problems
map <leader>dd :action ShowErrorsInProject<CR>
" View Problems and Focus Editor
map <leader>dl :action ShowErrorsInProject<CR>

" Quick Fix
map <leader>F :action ShowIntentionActions<CR>

"Marker
map ]d :action GotoNextError<CR>
map [d :action GotoPreviousError<CR>

" Fold
map zc :action CollapseRegion<CR>
nnoremap zC :action CollapseRegionRecursively<CR>
" Unfold
map zo :action ExpandRegion<CR>
nnoremap zO :action ExpandRegionRecursively<CR>


" Terminal
nmap <leader>t :action ActivateTerminalToolWindow<CR>

" Git
nmap <leader>gB :action Git.Branches<CR>
nmap <leader>G :action Git.Menu<CR>

nmap <leader>h :action ShowHarpoon<CR>
nmap <leader>a :action AddToHarpoon<CR>


nmap <leader>1 :action GotoHarpoon1<cr>
nmap <leader>2 :action GotoHarpoon2<cr>
nmap <leader>3 :action GotoHarpoon3<cr>
nmap <leader>4 :action GotoHarpoon4<cr>
nmap <leader>5 :action GotoHarpoon5<cr>
nmap <leader>6 :action GotoHarpoon6<cr>

