" run this for mac keyboard to hold and press
" defaults write -g ApplePressAndHoldEnabled -bool false

" Basic settings
set hlsearch                      " Highlight search occurrences
set ignorecase                    " Ignore case in search patterns
set smartcase                     " No ignore case when pattern is uppercase
set incsearch                     " Show search results while typing
set wrapscan                      " Searches wrap around the end of the file
set relativenumber                " Enable relative line numbers
set scrolloff=8
let mapleader = " "
let <C-c> <Esc>

" Code formatting and navigation
nnoremap <leader>fm <Action>(ReformatCode)
nnoremap <leader>gD :action GotoDeclaration<CR>
nnoremap <leader>gd :action FindUsages<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>

" Tab navigation
nmap <Tab> :action NextTab<CR>
nmap <S-Tab> :action PreviousTab<CR>

" Commenting and git-related mappings
set commentary
nnoremap gc :action CommentByLineComment<CR>

" Text manipulation
vnoremap ~ :action StringManipulation.ToggleCase<ESC>

" Search and file navigation
nmap <leader>a :action FindInPath<CR>
nnoremap <Leader>ff :action GotoFile<CR>
nmap <leader>fg :action FindInPath<CR>

" Terminal
nmap <Leader>t :action ActivateTerminalToolWindow<CR>


nnoremap <leader>gb :action Git.CompareWithBranch<CR>

